body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 20vh;
    background-color: lightblue;
}   

/* mobile */

.body{
    width: 100%;
    height: 80vh;
    background-color: lightcoral;
}

.content{
    width: 100%;
    height: 40%;
    background-color: lightgoldenrodyellow;
}

.features{
    width: 100%;
    height: 60%;
}

.signup{
    width: 100%;
    height: 25%;
    background-color: lightskyblue;
}

.feature1{
    width: 100%;
    height: 25%;
    background-color: yellowgreen;
}

.feature2{
    width: 100%;
    height: 25%;
    background-color: tomato;
}

.feature3{
    width: 100%;
    height: 25%;
    background-color: darkorchid;
}

.textCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Desktop */
@media screen and (min-width: 1025px){
    .body{
        width: 100%;
        height: 80vh;
        background-color: lightcoral;
        display: flex;
        flex-direction: column;
    }
    
    .content{
        width: 100%;
        height: 40%;
        background-color: lightgoldenrodyellow;
        order: 2;
    }
    
    .features{
        width: 100%;
        height: 60%;
        order: 1;
        display: flex;
        flex-wrap: wrap;
    }
    
    .signup{
        width: 100%;
        height: 20%;
        background-color: lightskyblue;
        order: 4;
    }
    
    .feature1{
        width: 33.33%;
        height: 80%;
        background-color: yellowgreen;
    }
    
    .feature2{
        width: 33.33%;
        height: 80%;
        background-color: tomato;
    }
    
    .feature3{
        width: 33.33%;
        height: 80%;
        background-color: darkorchid;
    }
}

/* Tablet */
@media screen and (min-width: 415px) and (max-width: 1024px) {
    .features{
        width: 100%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
    }

    .signup{
        width: 50%;
        height: 50%;
        background-color: lightskyblue;
    }
    
    .feature1{
        width: 50%;
        height: 50%;
        background-color: orange;
    }
    
    .feature2{
        width: 50%;
        height: 50%;
        background-color: tomato;
    }
    
    .feature3{
        width: 50%;
        height: 50%;
        background-color: darkorchid;
    }
}